<div class="">
  <div class="text-center">
    <h1>Login form</h1>
  </div>
  <form class="container mt-4" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">User name</label>
      <div class="col-sm-9">
        <input
          type="text"
          class="form-control"
          formControlName="login"
          placeholder="User name"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-3 col-form-label">Password</label>
      <div class="col-sm-9">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password"
        />
      </div>
    </div>

    <div class="text-center mt-4">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
        class="btn btn-primary">
        Login
      </button>
    </div>

    <div class="text-center mt-3">
      <a href="/auth/register"> Do not have an accout? Register!</a>
    </div>
  </form>
</div>
