<ng-container *ngIf="isEmpty; else nonEmptyTemplate">
  <div class="alert alert-warning text-center" role="alert">
    There aren't players for the given filter: {{filter?.team}} & {{filter?.position}} & {{filter?.nationality}}
  </div>
</ng-container>

<ng-template #nonEmptyTemplate>
  <div class="text-center mb-3">
    <h2>Applied filter</h2>
    <img class="logo-img m-2" src="/assets/images/flags/{{filter?.nationality}}.png" [alt]="filter?.nationality">
    <img class="logo-img m-2" src="/assets/images/teams/{{filter?.team}}.svg" [alt]="filter?.team">
    <p>{{filter?.position}}</p>
  </div>
</ng-template>
